.reveal .custom-block {
    color: white;
    background-color: red;

    margin: 10px;
    /*
    Entspricht
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}